@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&family=PT+Sans&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&family=PT+Sans&family=Quicksand&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&family=PT+Sans&family=Quicksand:wght@600&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&family=PT+Sans&family=Quicksand:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&family=Expletus+Sans&family=PT+Sans&family=Quicksand:wght@700&display=swap');

:root {
    --cor1: #c5ebd6;
    /* --cor1: #83e1ad; */
    /* --cor2: #3ddc84; */
    /* --cor2: #2fa866; */
    --cor2: #1c8a4dc7;
    /* --cor1: #1a5c37; */
    --cor3: #073f20f3;
    --cor4: #bb1203;
    /* --cor4: #940e01d7; */
    --cor5: #3D0B06;

    --font-inicio:'Averia Libre', cursive;
    --fonte-destaque: 'Expletus Sans', cursive;
    --fonte-padrao: 'Quicksand', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    margin: 0; 
    height: 100%;
    /* overflow-y: hidden;    */
}

.grid {
    display: grid;
    height: 100%;
    grid-template-columns: 15% 85%; 
}

aside {
    background-color: black;
    /* padding: 40px 10px; */
    padding: 20px 10px;
    /* height: 100vh; */
    /* height: 100%; */
    display: grid;
    grid-template-rows: 35% 15% 35% 15%;
    /* min-width: 10px; */
    /* max-width: px; */
}

aside img#perfil {
    grid-row: 1;
    width: 100%;
    border-radius: 50%;
    display: block;
    margin: auto;
}

/* aside img#perfil:hover {
    border: solid;
    border-color: var(--cor4);
} */

/* aside img:hover {
    border-color: var(--cor2);
    border-width: 3px;
    border-style: outset;
} */

aside h1 {
    grid-row: 2;
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336);
    /* text-align: center; */
    /* padding-top: 30px; */
    /* padding-bottom: 40px; */
    display: flex;
    align-items: center;
    justify-content: center; 
}

aside h1:hover {
    color: var(--cor4);
    font-size: 1.7em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.479);
}

aside nav {
    grid-row: 3;
    align-self: center;
}

aside nav a {    
    /* display: block;
    text-align: center; */
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    font-weight: bold;
    color: var(--cor2);
    text-decoration: none;
    border-radius: 5px;
    transition-duration: .5s;
    display: flex;
    justify-content: center;
    padding: 10px;
}

aside nav a:hover {
    background-color: var(--cor3);
    color: var(--cor1);
}

.redes-sociais-indice {
    grid-row: 4;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    align-items: flex-end;
    /* padding-top: 80px; */   
}

.redes-sociais-indice img {
    width: 90%;
    margin: auto;
    padding: 2px;
}

/* aside img {
    display: block;
    margin: auto;
} */

main {
    overflow-y: scroll;
    height: 100%;
    /* min-width: 100px; */
    /* min-width: 270px; */
    /* 270 + 50 = 320 */
    /* iPhone5 = 320 x 568 */
    max-width: 1176px;
    /* min-width: 50; */
    /* 1366 - 190 = 1176 */
    /* 1366 x 625 (728 window) */
}

main section.inicio {
    background-color: white;
    background-image: url(../img/plano-fundo-abertura.jpg);
    opacity: 0.9;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* min-height: 350px; */
    height: 100vh;
}

section.inicio h1 {
    font-family: var(--font-inicio);
    color: var(--cor1);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336);
    padding: 0px;
}

#bem-vindo {    
    text-align: end;
    font-size: 1.8em;
    padding: 80px 70px 0px 70px;
}

#ola {
    text-align: left;
    font-size: 2.1em;
    padding: 150px 70px 0px 70px;
}

#nome {
    text-align: left;
    font-size: 3.5em;
    font-family: var(--font-inicio);
    color: var(--cor1);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336);
    padding-left: 70px;
}

#nome:hover {
    color: var(--cor2);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.479);
}

#underline {
    font-family: var(--font-inicio);
    color: var(--cor1);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336);
    font-size: 3.5em;
    animation: piscaPisca 0.7s infinite;
}

@keyframes piscaPisca {
    100% {color: var(--cor2);}
}

#formacao1 {
    text-align: center;
    font-size: 1.7em;
    padding: 80px 70px 0px 70px;
}

#formacao2 {
    text-align: center;
    font-size: 1.7em;
    padding: 20px 70px 0px 70px;
}

main section h1 {
    font-family: var(--fonte-destaque);
    font-size: 2em;
    color: var(--cor3);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

main section h1:hover {
    font-size: 2.5em;
    color: var(--cor2);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.479);
}

main section.sobre-mim {
    background-color: white;
    background-image: url(../img/foto-sobre-mim-opaca.png); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* min-height: 600px; */
    height: 100vh;
}

main section.sobre-mim  p {
    font-family: var(--fonte-padrao);
    /* color: rgb(0, 0, 0); */
    color: var(--cor5);
    text-align: justify;
    /* text-indent: 30px; */
    font-size: 1em;
    line-height: 1.8em;
    /* margin: 0px; */
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
}

main section.formacao {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 15% 85%;
    background-image: linear-gradient(to left, var(--cor1), var(--cor2));    
    /* min-height: 600px; */
    height: 100vh;
}

main section.formacao h1 {
    grid-column: 1 / 3;
    grid-row: 1;
}

.cursos {
    grid-column: 1;
    grid-row: 2;
}

.cursos h2 { 
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
    color: var(--cor4);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.096);
    padding: 20px 10px 10px 50px; 
}

main h2:hover {
    color: var(--cor5);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.123);
    font-size: 1.8em;
}

main h3 {
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
    font-weight: normal;
    color: var(--cor5);
    padding: 0px 10px 5px 50px;
}

.cursos a {
    font-family: var(--fonte-padrao);
    font-size: 0.9em;
    font-weight: normal;
    text-decoration: none;
    color: var(--cor5);
    padding-left: 50px;
    /* padding: 0px 10px 0px 50px; */
}

.cursos a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 255, 0.829);
}

.tecnologias-modelos h2 {
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
    color: var(--cor4);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.233);
    text-align: center;    
    padding-top: 40px;
    padding-bottom: 20px;
    /* padding-right: 80px; */
}

.tecnologias-modelos img {
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 10px;
    /* padding: 30px 0px; */    
}

main section.experiencia {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 85%;
    /* grid-template-rows: 20% 80%; */
    background-image: linear-gradient(to left, var(--cor1), var(--cor2));       
    /* min-height: 600px; */
    height: 100vh;
}

main section.experiencia h1 {
    grid-column: 1 / 3;
    grid-row: 1;
}

.experiencia h2:hover {
    color: var(--cor5);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.123);
    font-size: 1.8em;
}

main h4 {
    font-family: var(--fonte-padrao);
    font-size: 0.9em;
    font-weight: normal;
    text-align: justify;
    color: var(--cor5);
    padding: 0px 50px 5px 50px;
}

.lado-esquerdo {
    grid-column: 1;
    grid-row: 2;
    padding: 20px 0px;
}

main section.experiencia h2 {
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
    color: var(--cor4);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.096);
    padding: 20px 10px 10px 50px; 
}

.lado-direito {
    grid-column: 2;
    grid-row: 2;
    padding: 55px 0px;
}

.lado-esquerdo img {
    display: block;
    margin: auto;
    width: 90%;
    border-radius: 50%;
    padding-left: 40px;
}

main section.contato {
    display: grid;
    /* grid-template-columns: 25% 50% 25%; */
    grid-template-columns: 30% 45% 25%;
    grid-template-rows: 10% 90%;
    /* grid-template-rows: 15% 85%; */
    /* grid-template-rows: 20% 80%; */
    background-image: linear-gradient(to left, var(--cor1), var(--cor2));   
    /* min-height: 600px; */
    height: 100vh;
}

main section.contato h1 {
    grid-column: 1 / 4;
    grid-row: 1;
    padding-top: 30px;
}

.primeira-parte-contato {
    display: flex;
    align-items: center;
    margin: auto;
}

.links-contato {
    grid-column: 1;
    grid-row: 2;
}

.links-contato table {
    /* padding: 20px 20px 5px 20px; */
    margin: auto;
    /* padding-top: 60px; */
}

.links-contato td.imagem {
    /* width: 40px;
    height: 40px; */

    text-align: center;
}

.links-contato table img{
    /* height: 30px;   */
    width: auto;  
}

.links-contato table td.texto {
    font-family: var(--fonte-padrao);
    font-size: 1em;
    font-weight: normal;
    color: var(--cor5);
    /* text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.096); */
    text-align: left; 
    width: 150px;
    height: 40px;
    padding-left: 10px;
}

.links-contato p {
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
    font-weight: normal;
    color: var(--cor4);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.096);
    text-align: center;
    padding-top: 20px;
    /* padding-bottom: 10px; */
}

.links-contato img {
    /* width: 10%;  */
    width: 15%;
}

.links-contato a {
    /* display: flex;
    justify-content: center; */
    /* padding: 5px; */
    padding: 5px;   
    margin: auto;    
}

.formulario-contato {
    /* grid-column: 2;
    grid-row: 2; */
    display: flex;
    align-items: center;
}

iframe {
    margin: auto;
    padding: 40px 5px;
}

.foto-contato img {
    display: flex;
    align-items: center;
    width: 85%;
    border-radius: 50%;
    /* padding: 0px 10px; */
    margin: auto;
    /* padding: 10px; */
}

/* footer  */
main section.rodape {
    display: flex;
    justify-content: space-between;
    font-family: var(--fonte-padrao);
    font-size: 0.8em;
    color: white;
    background-color: var(--cor3);
    padding: 10px 20px;    
}


/* .formulario {
    width: 350px;
    height: 350px;
    margin: auto; 
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.233);
}

.formulario > h3 {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

.formulario form {
    /* padding: 0px;
    align-items: center;
    display: block;
    align-items: center;
}

.formulario p {
    padding: 5px;
}

.formulario input {
    padding: 5px;
    width: 300px;
    height: 20px;
    font-family: var(--fonte-padrao);
    font-size: 0.9em;
}

.formulario textarea {
    padding: 5px;
    width: 300px;
    font-family: var(--fonte-padrao);
    font-size: 0.9em;
}

input.enviar {
    border-radius: 30px;
    width: 100px;
    height: 30px;
    background-color: orange;
    border: solid;
    border-color: orange;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.233);
    font-family: var(--fonte-padrao);
    font-size: 1em;
    font-weight: bold;
} */


