@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #05351ae1;
    font-family: var(--fonte-padrao);
}

header {
    /* background-image: linear-gradient(to bottom, var(--cor3), var(--cor5)); */
    background-image: url(../img/plano-fundo-abertura.jpg);
    /* ARRUMAR TAMANHO DESSA IMAGEM */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 350px;
    padding: 10px 30px;
}

#bem-vindo {
    text-align: end;
    /* background-color: blue; */
    padding-top: 30px;
    font-size: 1.5em;
    color: var(--cor0);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336);
}

#ola {
    text-align: left;
    padding-top: 50px;
    font-size: 1.8em;
    color: var(--cor0);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336);
}

#nome {
    text-align: left;
    padding-top: 20px;
    font-size: 3em;
    color: var(--cor0);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336);
}

#formacao1 {
    text-align: center;
    padding-top: 50px;
    font-size: 1.2em;
    color: var(--cor0);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336);
}

#formacao2 {
    text-align: center;
    padding-top: 10px;
    font-size: 1.2em;
    color: var(--cor0);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336);
}

nav {
    background-color: var(--cor5);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.493);
    padding-bottom: 10px;
    padding-top: 10px;
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    /* padding: 20px; */
    /* background-color: white; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 3em;
    padding-bottom: 10px;
    text-align: center;
    padding-top: 40px;
}

main section.sobre-mim {
    background-image: url(/img/foto-sobre-mim.jfif);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* min-height: 600px; */
    height: 100vh;
    border-radius: 50px 0px;
    /* padding: 10px 30px; */
}

/* main h2 {
    font-family: var(--font-android);
    font-weight: normal;
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
} */

main section.sobre-mim  p {
    font-family: var(--fonte-padrao);
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.8em;
    margin: 0px;
    color: white;
    padding: 10px 30px;
}

main section.formacao {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 15% 85%;
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor1));    
    /* min-height: 600px; */
    height: 100vh;
    border-radius: 0px 50px;
    /* padding: 10px 30px; */
}

main section.formacao h1 {
    /* background-color: red; */
    grid-column: 1 / 3;
    grid-row: 1;
}

.cursos {
    /* background-color: yellow; */
    grid-column: 1;
    grid-row: 2;
}

h2 { 
    /* .cursos h2  */
    font-family: var(--fonte-padrao);
    font-size: 1.5em;
    color: red;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.233);
    padding: 20px 20px 5px 50px; 
}

h3 {
    /* .cursos h3  */
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
    font-weight: normal;
    color: gray;
    /* text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336); */
    padding: 0px 20px 5px 50px;
}

.tecnologias-modelos h2 {
    font-family: var(--fonte-padrao);
    font-size: 1.5em;
    color: red;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.233);
    padding-top: 50px;
    padding-bottom: 20px;
}

.tecnologias-modelos img {
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 10px;
    /* padding: 30px 0px; */    
}

/* .tecnologias {
    grid-column: 2;
    grid-row: 2;
    background-color: orange;

} */

/* main strong {
    color: var(--cor4);
    background-color: var(--cor1);
    padding: 2px 6px;
} */

main a {
    font-family: var(--fonte-padrao);
    font-size: 0.9em;
    font-weight: normal;
    text-decoration: none;
    color: rgb(102, 101, 101);
    /* background-color: var(--cor1); */
    padding: 0px 20px 5px 50px;
}

main a:hover {
    text-decoration: underline;
    color: blue;
}

section.experiencia {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 80%;
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));    
    /* min-height: 600px; */
    height: 100vh;
    border-radius: 50px 0px;
    /* padding: 10px 30px; */
}

main section.experiencia h1 {
    /* background-color: red; */
    grid-column: 1 / 3;
    grid-row: 1;
}

.lado-esquerdo {
    /* background-color: yellow; */
    grid-column: 1;
    grid-row: 2;
}

.lado-esquerdo h2 {
    padding-top: 20px;
}

.lado-direito {
    /* background-color: orange; */
    grid-column: 2;
    grid-row: 2;
}

h4 {
    /* .cursos h3  */
    font-family: var(--fonte-padrao);
    font-size: 0.9em;
    font-weight: normal;
    color: gray;
    /* text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336); */
    padding: 0px 20px 5px 50px;
}

.lado-esquerdo img {
    display: block;
    margin: auto;
    width: 90%;
    /* border: solid; */
    border-radius: 50%;
    /* padding: 30px 0px;  */
    /* padding-top: 50px; */
}

main section.contato {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 80%;
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor1));    
    /* min-height: 600px; */
    height: 100vh;
    border-radius: 0px 50px;
    /* padding: 10px 30px; */
}

main section.contato h1 {
    background-color: red;
    grid-column: 1 / 3;
    grid-row: 1;
}

main section.contato.links-contato {
    background-color: yellow;
    grid-column: 1;
    grid-row: 2;
}

main section.contato.formulario-contato {
    background-color: orange;
    grid-column: 2;
    grid-row: 2;
}

/* .caixa {
    background-color: aqua;
    border: solid;
    border-radius: 20px;
} */

/* main img {
    width: 100%;
}

main img.pequena {
    display: block;
    margin: auto;
    max-width: 350px;
} */


aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.233);
}

aside > ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

footer {
    background-color: var(--cor5);
    color: white;
    font-size: 0.8em;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}