@charset "UTF-8";

@media (max-width: 800px) {
    body {
        /* grid-template-columns: 10% 90%; */
        /* width: 100%; */
        /* margin: 0; 
        padding: 0;
        height: 100%; */
    }
    .grid {
        grid-template-columns: 25% 75%; 
    }
    aside {
        display: grid;
        grid-template-rows: 20% 20% 40% 20%;
        padding: 15px 2px;
        background-color: pink;
    }
    aside img#perfil {
        width: 70%;
        display: block;
        margin: auto;
    }
    aside h1 {
        font-size: 0.9em;
        text-align: center;
    }
    aside h1:hover {
        font-size: 1.1em;
    }
    aside nav a {    
        font-size: 0.7em;
    }
    .redes-sociais-indice img {
        /* display: flex;
        flex-wrap: wrap;
        flex-direction: column; */
        width: 60%;
    }
    main {
        /* max-width: ; */
        overflow-x: hidden;   
        /* height: 100%;      */
    }
    #bem-vindo {
        font-size: 0.8em;
        padding: 40px 10px 0px 10px;
        text-align: center;
    }
    #ola {
        font-size: 1.1em;
        padding: 150px 0px 0px 10px;
    }
    #nome {
        /* display: block; */
        font-size: 1.6em;
        padding: 0px;
        /* text-align: left; */
    }
    #underline {
        /* display: block; */
        font-size: 1.6em;
        /* text-align: left; */
        /* text-align: center; */
    }
    section.inicio div {
        display: block;
        text-align: left;
        padding-left: 10px;
    }
    #formacao1 {
        font-size: 0.9em;
        padding: 80px 10px 0px 10px;
    }
    #formacao2 {
        font-size: 0.9em;
        padding: 20px 10px 0px 10px;
    }
    main section h1 {
        font-size: 1.3em;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    main section h1:hover {
        font-size: 1.5em;
    }
    main section.sobre-mim  p {
        font-size: 0.7em;
        line-height: 1.2em;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    main section.formacao {
        /* display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 90%; */
        display: flex;
        flex-direction: column;
        height: 100vh;
        /* background-color: blueviolet; */
    }
    main section.formacao h1 {
        /* grid-column: 1;
        grid-row: 1; */
        /* padding-top: 20px;
        padding-bottom: 0px; */
    }
    .cursos {
        /* grid-column: 1;
        grid-row: 2; */
    }
    .cursos h2 { 
        font-size: 0.9em;
        padding: 10px 10px 5px 10px; 
    }
    main h2:hover {
        font-size: 1em;
    }
    main h3 {
        font-size: 0.7em;
        padding: 0px 10px 2px 10px;
    }
    .cursos a {
        font-size: 0.5em;
        padding-left: 10px;
        /* text-align: justify; */
    }
    .tecnologias-modelos {
        display: grid;
        grid-template-columns: 40% 60%;
    }
    #tecnologias {
        grid-column: 1;
    }
    #modelos {
        grid-column: 2;
    }
    .tecnologias-modelos h2 {
        /* grid-column: 1;
        grid-row: 2; */
        font-size: 0.9em;
        padding: 15px 10px;
        /* padding-bottom: 10px; */
    }
    .tecnologias-modelos img {
        /* display: block;
        margin: auto; */
        /* width: 70%;    */
    }
    main section.experiencia {
        display: flex;
        flex-direction: column;
        /* height: 100vh; */
    }
    main h4 {
        font-size: 0.6em;
        padding: 0px 10px 2px 10px;
    }
    .lado-esquerdo {
        padding: 0px;
    }
    main section.experiencia h2 {
        font-size: 0.9em;
        padding: 10px 10px 5px 10px; 
    }
    .lado-direito {
        padding: 0px;
        align-items: flex-start;
    }
    .lado-direito img {
        display: block;
        margin: auto;
        width: 90%;
        border-radius: 50%;
        padding: 20px 5px;
    }
    main section.contato {
        display: flex;
        flex-direction: column;
        /* height: 100%; */
        /* background-color: blueviolet; */
    }
    main section.contato h1 {
        /* font-size: 1.3em; */
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .links-contato table td.texto {
        font-size: 0.7em;
        width: 100px;
        height: 20px;
        padding-left: 10px;
    }
    .links-contato p {
        font-size: 0.9em;
        padding-top: 10px;
    }
    .links-contato img {
        width: 10%;
    }
    iframe {
        margin: auto;
        padding: 5px;
        width: 250px;
    }
    .foto-contato img {
        width: 50%;
    }
    main section.rodape {
        display: block;
        font-size: 0.6em;
        padding: 5px 10px;    
    }
}



